{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Bot summary {% endblock %}</h1>
    <p>last updated: {{ now }}</p>
    <h2 class="subtitle">{{ totals['active_bots'] }} active bots with total profit {{ '%0.2f'| format(totals['profit']['profit_closed_fiat']|float) }}</h2>
    <h2 class="subtitle">today: {{ '%0.2f'| format(totals['profit']['today_profit_fiat']|float) }} yesterday: {{ '%0.2f'| format(totals['profit']['yesterday_profit_fiat']|float)}} 30day: {{ '%0.2f'| format(totals['profit']['30d_profit_fiat']|float)}}</h2>


    <div class="table-container">
    <table class="table is-striped is-narrow">
        <!-- Table headers -->
            <th>
                <tr>
                    <td>Name</td>
                    <td>Ex</td>
                    <td>Strategy</td>
                    <td>time<br />frame</td>
                    <!-- <td>tod.<br />abs</td> -->
                    <td>tod.<br />fiat</td>
                    <td>tod.<br />#</td>
                    <td>open/max<br />long</td>
                    <td>prof/<br />day</td>
                    <td>am.</td>
                    <td>Curr</td>
                    <td>stop<br />loss</td>
                    <td>trail</td>
                    <td>Edge</td>
                    <td>Profit</td>
                    <td>Prof<br />fiat</td>                    
                    <td>Days</td>
                    <td>Win<br />rate</td>
                    <td>W</td>
                    <td>L</td>

                    <td>30d<br />prof</td>
                    <td>version</td>
                    {% for d in range(0,-30,-1) %}
                    <td>{{d}}d</td>
                    {% endfor %}
                    <td>amazingsuperlongoriginalfilenameuglyspacekeeper</td>
                </tr>
            </th>
            <tbody>
    {% for bot in bot_data %}
    <!-- <a href="#">
        <h2>{{ bot['bot_name'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ bot['stake_current'] }}</span>
    <hr> -->

          
        <!-- table rows -->
        <tr>
            
                {% if bot['show_config']['state'] == "running" %}
                    <td><a href="{{bot['server_url']}}" target="_blank" class="button is-success is-fullwidth"> {{ bot['bot_name'] }}</a></td>

                    <td>{{ bot['show_config']['exchange'] }}</td>
                    <td>{{ bot['show_config']['strategy'] }}</td>
                    <td>{{ bot['show_config']['timeframe'] }}</td>
                    <!-- <td class="has-text-right">{{ '%0.4f'| format(bot['daily_data'][0]['abs_profit']|float)}}</td> -->
                    <td class="has-text-right">{{ '%0.2f'| format(bot['daily_data'][0]['fiat_value']|float)}}</td>
                    <td class="has-text-right">{{ bot['daily_data'][0]['trade_count'] }}</td>
                    <td class="has-text-right ">
                        {% if bot['count']['current'] > 0 %}
                            {% if (bot['status'][0]['open_hours'] ) > 48 %}
                                <button class="button is-danger is-light is-fullwidth">{{ bot['count']['current'] }}/{{ bot['show_config']['max_open_trades'] }}<br />{{ bot['count']['nr_long_open'] }} ({{ bot['status'][0]['open_hours'] }})</button>
                            {% elif (bot['status'][0]['open_hours'] ) > 24 %}
                                <button class="button is-warning is-light is-fullwidth">{{ bot['count']['current'] }}/{{ bot['show_config']['max_open_trades'] }}<br />{{ bot['count']['nr_long_open'] }} ({{ bot['status'][0]['open_hours'] }}) </button>    
                            {% else %}
                                <button class="button is-success is-light is-fullwidth">{{ bot['count']['current'] }}/{{ bot['show_config']['max_open_trades'] }}<br />{{ bot['count']['nr_long_open'] }} ({{ bot['status'][0]['open_hours'] }})</button>
                            {% endif %}
                            
                        {% else %}
                            {{ bot['count']['current'] }}/{{ bot['show_config']['max_open_trades'] }}          
                        {% endif %}
                    </td>

                    <td class="has-text-right has-text-weight-bold">{{ '%0.2f'| format(bot['profit']['avg_per_day_all_time_fiat']|float) }}</td>
                    <td>{{ bot['show_config']['stake_amount'] }}</td>
                    <td>{{ bot['show_config']['stake_currency'] }}</td>
                    <td>{{ bot['show_config']['stoploss'] }}</td>
                    <td>{{ bot['show_config']['trailing_stop'] }}</td>
                    <td>
                        {% if (bot['show_config']['edge_pairs_nr'] ) > 0 %}
                            <button class="button is-success is-light is-fullwidth">{{ bot['show_config']['edge_pairs_nr']  }} </button>
                        {% else %}
                            <button class="button is-warning is-light is-fullwidth">OFF</button>    
                        {% endif %}
                    </td>

                    <td class="has-text-right">{{ '%0.2f'| format(bot['profit']['profit_closed_coin']|float) }}</td>
                    <td class="has-text-right">{{ '%0.2f'| format(bot['profit']['profit_closed_fiat']|float) }}</td>
                    
                    <td class="has-text-right ">{{ bot['profit']['first_trade_days'] }}</td>
                    <td class="has-text-right">{{ '%0.2f'| format(bot['profit']['winning_rate']|float) }}</td>
                    <td class="has-text-right">{{ bot['profit']['winning_trades'] }}</td>
                    <td class="has-text-right">{{ bot['profit']['losing_trades'] }}</td>

                    <td class="has-text-right has-text-weight-bold">{{ '%0.2f'| format(bot['daily_data']|sum(attribute='fiat_value')) }}</td>

                    <td>{{ bot['version']['version'] }}</td>
                    {% for daily in bot['daily_data'] %}
                    <td class="has-text-right">{{ '%0.2f'| format(daily['fiat_value']|float)}} ({{ daily['trade_count'] }})</td>

                    {% endfor %}
                    
                    <td>{{ bot['show_config']['bot_name'] }}</td>

                {% else %}
                    <td><a href="{{bot['server_url']}}" target="_blank" class="button is-danger is-fullwidth"> {{ bot['bot_name'] }}</a></td>
                {% endif %}

            

          
            
          
{% endfor %}
</tr>
</tbody>          
</table>
</div>

{% endblock %}